.messanger-page-main-div{
    width: 77vw;
    padding: 10px;


    .messanger-page-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        border-radius: 2px solid #e0e0e0;
        h1{
          font-size: 20px;
          font-weight: bold;
          line-height: 1.2;
          color: #3b3b48;
          padding: 0px;
          margin: 0px;
        }
    }
}

